@charset "UTF-8";
/* !!!
La mayor parte de elementos del proyecto usan estas variables para sus estilos
cambiar desde aqui si se quiere cambiar estilos GENERALES como colores principales, tamaños de de los títulos, márgenes por defecto de elementos html.
 !!! */
/*------------------- Colores --------------------------*/
/*------------------- Fuentes --------------------------*/
/*------------------- Margenes o Paddings --------------------------*/
.container-main h1 {
  text-align: center;
}
.container-main .section-main {
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.container-main .section-main img {
  width: 1920px;
  height: auto;
}
.container-main .section-films {
  text-align: center;
}
.container-main .section-films .container-films {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1.5em;
  overflow: hidden;
}
.container-main .section-films .container-films a {
  flex: 1;
}
.container-main .section-films .container-films a:hover img {
  filter: drop-shadow(0 0 10px #0d2c49);
}
.container-main .section-articles {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
}
.container-main .section-articles__article {
  flex: 1;
}
.container-main .section-articles__article a {
  display: flex;
  position: relative;
  filter: brightness(100%);
}
.container-main .section-articles__article a img {
  width: 100%;
}
.container-main .section-articles__article a img:hover {
  filter: brightness(50%);
}
.container-main .section-articles__article a h3 {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  border-color: #ffffff;
}