@charset "UTF-8";
/* !!!
La mayor parte de elementos del proyecto usan estas variables para sus estilos
cambiar desde aqui si se quiere cambiar estilos GENERALES como colores principales, tamaños de de los títulos, márgenes por defecto de elementos html.
 !!! */
/*------------------- Colores --------------------------*/
/*------------------- Fuentes --------------------------*/
/*------------------- Margenes o Paddings --------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1d1e20;
}

p,
a,
li,
label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #1d1e20;
}

button,
input {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
}

a {
  font-size: 1.4em;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.4em;
}

button {
  background-color: #1d1e20;
  border: 2px solid #f1f1f1;
  padding: 0.5em 2em;
}

.round-button {
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  background-color: #f1f1f1;
  border: none;
}

.container-form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
}
.container-form__column {
  display: grid;
}
.container-form__column input {
  color: #f1f1f1;
  background-color: #1d1e20;
  border: 2px solid #f1f1f1;
}
.container-form__column input:focus {
  background-color: #0d2c49;
}

.container-header {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
}
.container-header__logo {
  width: 20%;
  padding: 0 0.5em;
}
.container-header__logo a img {
  display: block;
  height: 50px;
}
.container-header__nav {
  width: 80%;
  text-align: end;
  align-content: end;
  padding: 0 0.5em;
}
.container-header__nav .nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  /*   .nav-search{
      display: flex;
  } */
}
.container-header__nav .nav-list li {
  display: inline-block;
  position: relative;
}
.container-header__nav .nav-list li .nav-link, .container-header__nav .nav-list li .nav-icon {
  display: block;
  text-align: center;
  align-content: center;
  padding: 0 1.2em;
  font-size: 1.4em;
  text-wrap: nowrap;
}
.container-header__nav .nav-list li .nav-link:hover, .container-header__nav .nav-list li .nav-icon:hover {
  color: #d8c615;
}
.container-header__nav .nav-list li:hover .nav-dropdown {
  display: grid;
}

.nav-dropdown {
  display: none;
  width: 100%;
  position: absolute;
  padding: 0 1.2em;
  text-align: initial;
  align-content: center;
  background-color: #1d1e20;
  z-index: 999;
}
.nav-dropdown li {
  display: block;
}
.nav-dropdown li .dropdown-link {
  font-size: 1.4em;
  display: block;
  padding: 0.5em;
  text-align: initial;
  align-content: center;
  color: #f1f1f1;
}
.nav-dropdown li .dropdown-link:hover {
  color: #d8c615;
}

/* Para pantallas grandes (más de 1200px) */
/* Para pantallas medianas (por ejemplo, entre 768px y 1199px) */
/* Para pantallas pequeñas (por ejemplo, menos de 768px) */
@media (max-width: 767px) {
  .container-header__nav .nav-list li {
    width: 50% !important;
  }
}
/* Para pantallas muy pequeñas (por ejemplo, menos de 480px) */
footer {
  background-image: url("../assets/images/footer-jpg.jpg");
  background-color: #1d1e20;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
}

.container-footer {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 2.3em;
  gap: 2.3em;
}
.container-footer .section-footer {
  flex: 1;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.container-footer .section-footer h3 {
  color: #c7a40e;
  margin: 0.5em 0;
}
.container-footer .section-footer a {
  color: #f1f1f1;
}
.container-footer .section-footer label {
  color: #f1f1f1;
}

/* !!!
La mayor parte de elementos del proyecto usan estas variables para sus estilos
cambiar desde aqui si se quiere cambiar estilos GENERALES como colores principales, tamaños de de los títulos, márgenes por defecto de elementos html.
 !!! */
/*------------------- Colores --------------------------*/
/*------------------- Fuentes --------------------------*/
/*------------------- Margenes o Paddings --------------------------*/
.container-main {
  width: 100%;
  max-width: 1920px;
}
.container-main h1 {
  text-align: center;
}
.container-main .section-main {
  overflow: hidden;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-main .section-main img {
  width: 100%;
  height: auto;
}
.container-main .section-films {
  text-align: center;
}
.container-main .section-films .container-films {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1.5em;
  overflow: hidden;
}
.container-main .section-films .container-films a {
  flex: 1;
}
.container-main .section-films .container-films a img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container-main .section-films .container-films a:hover img {
  filter: drop-shadow(0 0 10px #0d2c49);
}
.container-main .section-articles {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
}
.container-main .section-articles__article {
  flex: 1;
}
.container-main .section-articles__article a {
  display: flex;
  position: relative;
  filter: brightness(100%);
}
.container-main .section-articles__article a img {
  width: 100%;
}
.container-main .section-articles__article a img:hover {
  filter: brightness(50%);
}
.container-main .section-articles__article a h3 {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  border-color: #ffffff;
}