/*------------------- MAIN --------------------------*/

/*------------------- GUIA NAVEGACIÓN --------------------------*/
.container-nav-guide {
    background-color: #EFEFEF;
    padding: 0 4em;
}

.container-nav-guide h2 {
    font-size: 1.3rem;
}

/*------------------- SECTION 1 - CARTELERA--------------------------*/
.section-cartelera {
    position: relative;
}

.section-cartelera img {
    width: 100%;
}

.container-information {
    position: absolute;
    bottom: 0;
    padding: 4em;
    color: #ffffff;
}

.container-information__tittle {
    padding: 0 0 1.4em 0;
}

.container-information>p {
    font-weight: 800;
    color: #ffffff;
}

.container-information>ul {
    display: flex;
    flex-flow: row nowrap;
}

.container-information>ul>li {
    padding: 1em 2.4em 0 0;
}

/*------------------- SECTION 1 - REPARTO--------------------------*/