@charset "UTF-8";
/* !!!
La mayor parte de elementos del proyecto usan estas variables para sus estilos
cambiar desde aqui si se quiere cambiar estilos GENERALES como colores principales, tamaños de de los títulos, márgenes por defecto de elementos html.
 !!! */
/*------------------- Colores --------------------------*/
/*------------------- Fuentes --------------------------*/
/*------------------- Margenes o Paddings --------------------------*/
.container-main h1 {
  text-align: center;
}
.container-main .section-us {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.container-main .section-us .us-container {
  width: 30%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
}
.container-main .section-us .us-container__img {
  -o-object-fit: cover;
     object-fit: cover;
  top: -5vh;
}
.container-main .section-us .us-container__info {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.container-main .section-us .us-container__info p {
  text-align: justify;
  line-height: 1.5;
  /* Interlineado del 150% del tamaño de la fuente */
  padding: 0 3em;
}

/* Para pantallas grandes (más de 1200px) */
/* Para pantallas medianas (por ejemplo, entre 768px y 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .section-us {
    flex-direction: column !important;
  }
  .us-container {
    width: 50% !important;
  }
}
/* Para pantallas pequeñas (por ejemplo, menos de 768px) */
@media (max-width: 767px) {
  .section-us {
    flex-direction: column !important;
  }
  .us-container {
    width: 80% !important;
  }
}
/* Para pantallas muy pequeñas (por ejemplo, menos de 480px) */
@media (max-width: 480px) {
  .us-container {
    width: 100% !important;
  }
}