// Coraline

@import '../utilities/variables';
@import '../utilities/mixins';

//Header
.films-page {
    color: map-get($map: $colors, $key: "yellow");
}

.coraline-page {
    color: map-get($map: $colors, $key: "yellow");
}

//Main
.container-main {

    .container-nav-guide {
        background-color: map-get($map: $colors, $key: "black");
        color: map-get($map: $colors, $key: "white");
        padding: map-get($map: $space-x, $key: "s");
    }

    //Seccion 1         Cartelera
    .section-main {
        position: relative;

        #reproductor {
            width: 100%;
            object-fit: cover;
        }

        .container-information {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: map-get($map: $space, $key: xl);
            background-color: rgba(0, 0, 0, 0.6);

            h1 {
                color: map-get($map: $colors, $key: "yellow");
                padding: map-get($map: $space-y, $key: "xxs");
            }

            p,
            ul,
            span {
                color: map-get($map: $colors, $key: "white");
                padding: map-get($map: $space-y, $key: "xxs");
            }

            ul {
                @include flex-mix();
                gap: 5em;

                li {
                    .purchase-label {
                        opacity: 0;
                        visibility: hidden;
                        /* transition-property: opacity; */
                        /* transition-duration: 0.3s;  */
                        /* transition-timing-function: ease; */
                        transition: opacity 0.3s ease;
                    }

                    .pause-button {
                        display: none;
                    }

                    .purchase-button {
                        &:hover+.purchase-label {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                }
            }
        }
    }

    //Seccion 2         Reparto
    .section-reparto {

        h2 {
            text-align: center
        }

        @include flex-mix(); //  display: flex       Defecto: row - nowarp
        justify-content: space-around;

        .reparto-container {
            width: 30%;
            height: 30%;
            @include flex-mix(column); //  display: flex       Defecto: column - nowarp
            position: relative;

            overflow: hidden;

            img {
                object-fit: cover;
            }

            &__info {
                width: 100%;

                position: absolute;
                top: 20%;
                left: 0;

                @include flex-mix(column); //  display: flex       Defecto: column - nowarp
                text-align: center;
                justify-content: space-between;

                img {
                    position: absolute;
                    top: -5vh;
                }

                p,
                h3 {
                    text-align: justify;
                    line-height: 1.5;
                    /* Interlineado del 150% del tamaño de la fuente */
                    color: map-get($map: $colors, $key: "white");
                    text-shadow: 0 0 0 1px map-get($map: $colors, $key: "black");
                    padding: 0 3em;
                    z-index: 99;
                    background-color: map-get($map: $colors, $key: "black");
                }
            }

        }
    }

    //Seccion 3         Galeria
    h2 {
        padding: map-get($map: $space-y, $key: "xxs");
        text-align: center;
    }

    .section-galery {
        text-align: center;
        background-image: url("../assets/images/coraline-page-fondo2-webp.webp");
        background-position: center;
        background-size: cover;

        &__galery {
            width: 1000px;
            margin: 0 auto;
            columns: 300px;

            img {
                width: 100%;
                padding: map-get($map: $space-y, $key: "xs");
            }

        }
    }

}