// Ejercicio 1 page

@import '../utilities/variables';
@import '../utilities/mixins';

//Main 
.container-main {

    // SECTION 1 Cartelera informacion del ejercicio
    .section-main {
        position: relative;
        /* Uso position relative y absolute para superponer el elemento con texto informativo 
         sobre el contenedor*/

        .container-information {
            width: 100%;
            position: absolute;
            bottom: 0;

            background-color: rgba(0, 0, 0, 0.7); // el 0.7 es la opacidad
            padding: map-get($map: $space, $key: "xl"); // devuelve 1.9em
            /*  según al nomber de la variable que he asignado:
                $space: añade padding vertical y horizontal
                $space-y: padding vertical
                $space-x: padding horizontal */

            h1 {
                color: map-get($map: $colors, $key: "yellow"); // devuelve #d8c615
                padding: map-get($map: $space-y, $key: "xxs"); // devuelve 0.5em 0
            }

            h2 {
                color: map-get($map: $colors, $key: "white"); // devuelve #ffffff
            }

            p {
                color: map-get($map: $colors, $key: "white"); // devuelve #d8c615
                padding: map-get($map: $space-y, $key: "xxs"); // devuelve 0.5em 0
            }

            ul,
            span {
                color: map-get($map: $colors, $key: "white"); // devuelve #fffff
                padding: map-get($map: $space, $key: "xxs"); // devuelve 0.5em
            }

        }
    }

    // SECTION 2 Comparacion de formatos de audio y video
    .section-ejercicio1 {
        width: 80%;
        margin: 0 auto;
        padding: map-get($map: $space-y, $key: "xl"); // devuelve 1.9em 0

        .container-formatos {
            display: grid;
            grid-template-columns: auto auto auto; // Ancho de cada columna
            gap: 1em;
            justify-content: space-evenly;


            &__formato {
                @include flex-mix(column); //  display: flex       Defecto: column - nowarp
                align-items: normal;
                padding: map-get($map: $space, $key: "m");
               
                box-shadow:
                    8px 8px 20px rgba(0, 0, 0, 0.3), // Sombra exterior abajo a la derecha 
                    inset 8px 8px 20px rgba(0, 0, 0, 0.2); //Sombra interior arriba a la izquierda 

                img {
                    max-width: 100%;
                    width: auto;
                    object-fit: cover; // Para que la imagen se adapte al contenedor
                    margin: map-get($map: $space, $key: "xs");
                }

                ul {
                    margin: map-get($map: $space-y, $key: "xs");
                    width: 100%;
                    height: 100px;
                }
            }

            .formato-mp4,
            .formato-webm,
            .formato-ogv {
                grid-column: 1 / 4;
            }
        }
    }
}