// Index
@import '../utilities/variables';
@import '../utilities/mixins';

//Main
.container-main {
    width: 100%;
    max-width: 1920px; //Ancho por defecto para monitores superiores a 1920p

    h1 {
        text-align: center;
    }

    //Seccion 1     Cartelera
    .section-main {
        overflow: hidden;
        width: 100%;
        height: auto;
        object-fit: cover;

        img {
            width: 100%;
            height: auto;
        }
    }

    //Seccion 2     Peliculas
    .section-films {
        text-align: center;

        .container-films {
            margin: 0 auto;
            padding: map-get($map: $space, $key: l);

            a {
                display: contents;
                height: 100%;
                width: 100%;

                img {
                    object-fit: cover;
                }

                &:hover img {
                    //Filtro para los svg al hacer hover
                    filter: drop-shadow(0 0 10px map-get($map: $colors, $key: "blue-dark"));
                }
            }
        }
    }

    //Seccion 3     Articulos
    .section-articles {
        @include flex-mix();
        max-width: 100%;

        &__article {
            flex: 1;

            a {
                display: flex;
                position: relative;
                filter: brightness(100%);

                img {
                    width: 100%;

                    &:hover {
                        filter: brightness(50%);
                    }
                }

                h3 {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    padding: map-get($map: $space-x, $key: "xxs");
                    background-color: map-get($map: $colors, $key: "black-transparent");
                    color: map-get($map: $colors, $key: "white");
                    border-color: #ffffff;
                }
            }
        }
    }
}