// Index
@import '../utilities/variables';
@import '../utilities/mixins';

//Main
.container-main {

    //Seccion 1     Cartelera
    .section-main {
        width: 100%;
        height: 800px;
        overflow: hidden;

        img {
            width: 1920px;
            height: auto;
        }
    }

    //Seccion 2     Peliculas
    .section-films {
        text-align: center;

        .container-films {
            width: 80%;
            margin: 0 auto;
            @include flex-mix(row);
            justify-content: center;
            padding: map-get($map: $space, $key: l);
            overflow: hidden;
            a {
                flex: 1;

                &:hover img {
                    //Filtro para los svg al hacer hover
                    filter: drop-shadow(0 0 10px map-get($map: $colors, $key: "blue-dark"));
                }
            }
        }
    }

    //Seccion 3     Articulos
    .section-articles {
        @include flex-mix();
        max-width: 100%;

        &__article {
            flex: 1;

            a {
                display: flex;
                position: relative;
                filter: brightness(100%);

                img {
                    width: 100%;

                    &:hover {
                        filter: brightness(50%);
                    }
                }

                h2 {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    padding: map-get($map: $space-x, $key: "xxs");
                    background-color: map-get($map: $colors, $key: "black-transparent");
                    color: map-get($map: $colors, $key: "white");
                    border-color: #ffffff;
                }
            }
        }
    }
}