// Variables

/* !!!
La mayor parte de elementos del proyecto usan estas variables para sus estilos
cambiar desde aqui si se quiere cambiar estilos GENERALES como colores principales, tamaños de de los títulos, márgenes por defecto de elementos html.
 !!! */

/*------------------- Colores --------------------------*/
$colors: (
    "blue-dark": #0d2c49,
    "black": #1d1e20,
    "black-full": #000000,
    "white": #f1f1f1,
    "white-full": #ffffff,
    "yellow": #d8c615,
    "yellow-dark": #c7a40e,
    "black-transparent": rgba(0, 0, 0, 0.5)
);

// Temas claro / oscuro
$light: map-get($map: $colors, $key: "white-full");
$dark: map-get($map: $colors, $key: "black");

// Tema para los fondos
$theme-back-colors: (
    "light": $light,
    "dark": $dark
);

// Tema para las letras
$theme-font-colors: (
    "light": $dark,
    "dark": $light
);

/*------------------- Fuentes --------------------------*/

//Font family
$font-familys: 'Roboto', sans-serif;

//Tamaño de las fuentes
$font-sizes: (
    1: 1em,
    2: 1.3em,
    3: 1.6em,
    4: 2em,
    5: 2.3em,
    6: 2.5em
);

//Peso de las fuentes
$font-weights: (
    1: 100,
    2: 300,
    3: 500,
    4: 700,
    5: 900
);

/*------------------- Margenes o Paddings --------------------------*/
// Vertical
$space-y: (
    "xxs": 0.5em 0,
    "xs": 0.7em 0,
    "s": 0.9em 0,
    "m": 1.2em 0,
    "l": 1.5em 0,
    "xl": 1.9em 0,
    "xxl": 2.3em 0
);

// Horizontal
$space-x: (
    "xxs": 0 0.5em,
    "xs": 0 0.7em,
    "s": 0 0.9em,
    "m": 0 1.2em,
    "l" :0 1.5em,
    "xl": 0 1.9em,
    "xxl": 0 2.3em
);

$space: (
    "xxs": 0.5em,
    "xs": 0.7em,
    "s": 0.9em,
    "m": 1.2em,
    "l" :1.5em,
    "xl": 1.9em,
    "xxl": 2.3em
);

// Bordes

$border-sizes: (
    1: 1px,
    2: 2px,
);