// Footer

footer {
    background-image: url("../assets/images/footer-jpg.jpg");
}

.container-footer {
    width: 80%;
    @include flex-mix();
    justify-content: space-between;
    margin: 0 auto;
    padding: map-get($map: $space, $key: xxl);

    .section-footer {

    }
}
