//Header

//Contenedor general     logo 20% - nav 80%

.container-header {
    width: 100%;
    @include flex-mix(); //  display: flex       Defecto: row - nowarp
    padding: map-get($map: $space-x, $key: "xxs");

    &__logo {
        width: 20%;
        padding: map-get($map: $space-x, $key: "xxs");
        a {
            img {
                height: 70px;
            }
        }
    }

    &__nav {
        width: 80%;
        @include align-mix(end); //  text-align, align-content       Defecto: center - center
        padding: map-get($map: $space-x, $key: "xxs");

        .nav-list {

            li {
                display: inline-block;
                position: relative;

                .nav-link {
                    display: block;
                    @include align-mix();
                    padding: map-get($map: $space-x, $key: "m");
                    font-size: map-get($map: $font-sizes, $key: 3);
                    background: map-get($map: $theme-back-colors, $key: "ligth");
                    text-wrap: nowrap;

                    &:hover {
                        color: map-get($map: $colors, $key: "yellow");
                    }
                }

                .nav-icon {
                    @extend .nav-link;
                }

                //hover para desplegar el menu peliculas
                &:hover .nav-dropdown{
                    display: grid;
                }
            }
        }
    }
}

// Menu dropdwon de peliculas
.nav-dropdown{
    display: none;
    width: 100%;
    position: absolute;
    @include align-mix(initial);
    background-color: map-get($map: $theme-back-colors, $key: "ligth");
    z-index: 999;

    li{
        display: block;
        .dropdown-link{
            display: block;
            padding: map-get($map: $space, $key: "xxs");
            @include align-mix();
       
            &:hover {
                color: map-get($map: $colors, $key: "yellow");
            }
        }
    }
}