// Fonts

//Importar la fuente Roboto de google
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//Estilos generales para las fuentes

//Títulos
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-familys;
  font-weight: map-get($map: $font-weights, $key: 4);
  color: map-get($map: $colors, $key: "black");
}

//Textos
p,
a,
li,
label {
  font-family: $font-familys;
  font-weight: map-get($map: $font-weights, $key: 3);
  color: map-get($map: $colors, $key: "black");
}

//Botones y formularios
button,
input {
  font-family: $font-familys;
  font-size: map-get($map: $font-sizes, $key: 3);
  font-weight: map-get($map: $font-weights, $key: 4);
}

//Tamaños
a {
  font-size: map-get($map: $font-sizes, $key: 3);
}

h1 {
  font-size: map-get($map: $font-sizes, $key: 5);
}

h2 {
  font-size: map-get($map: $font-sizes, $key: 3);
}

h3 {
  font-size: map-get($map: $font-sizes, $key: 3);
}