// Resets

//Formateo de los estilos basicos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}